*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "TASA Orbiter", sans-serif;
    font-size: 1.5em;
    padding: 1%;
    box-sizing: border-box;
}

.principal{
    background-color: beige;    
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.titulo-principal{
    border-bottom: 2px solid black

}

.principal h1{
    display: block;
    font-size: 5em;
    padding: 3%;

}

.principal .listas{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.listas{
    margin-top: 10%;
}

.listas ul{
    list-style-type: disc;
    text-align: left;
}

.listas h1{
    font-size: 3em;

}

.ingredientes{
    line-height: 2em;
}

.utensilios{
    margin-right: 5%;
    box-sizing: border-box;
}

.utensilios li{
    margin: 10% 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.utensilios li p{
    display: inline-block;
}

.utensilios img{
    vertical-align: middle;
    margin-top: 5%;
}

.segunda-parte{
    background-color: beige;    
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}



.texto{
    width: 50%;
    height: 60%;
    padding: 5%;
    box-sizing: border-box;
}

.texto ul{
    list-style-type: none;
}

.imagem{
    position: absolute;
    width: 350px;
    margin-top: 5%;
}

.video{
    width: 50%;
    margin-top: 14%;

}


.iframe{
    width: 70%;
    height: 50%;
    box-shadow: 0 0 8px 2px black;
    transition: box-shadow 0.2s;
}

.iframe:hover{
    box-shadow: 0 0 12px 3px black;
}

h1{
    font-size: 2em;
    background-color: beige;
}
.segunda-parte h1{
    margin-top: 5%;
}

p{
    margin: 1%;
}

.final{
    background-color: beige;
    margin-bottom: 5%;
    margin-top: 3%;
    display: flex;
}

.parte-1{
    float:left;
    width: 50%;
    box-sizing: border-box;
}

.parte-2{
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.parte-2 a{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.parte-2 ul{
    width: 70%;
    list-style-type: disc;
    margin: auto;
}

.parte-2 ul li{
    margin: 4% 0;
}

.numero-grande{
    font-size: 3em;
}

.parte-2 ul a:hover{
    color: rgb(114, 114, 114);
}

.icone{
    width: 100%;
}

.icone img{
    width: 100%;
}